/* FoodItemCard.css */
.food-item-card {
    margin: 10px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.2s;
    max-width: 400px; /* Increase the maximum width to make the cards wider */
    display: flex;
    flex-direction: column;
  }
  
  .food-item-card:hover {
    transform: scale(1.02);
  }
  
  .food-item-image-container {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 15px;
  }
  
  .food-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .add-to-cart-button {
    width: 100%;
    background-color: #f8ce0b;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: #e6b800;
  }
  